<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Patua+One" rel="stylesheet">
    <link href="{{url_for('static', filename='styles.css')}}" rel="stylesheet">
    <title> {{title}} </title>
  </head>
  <body>
    <div id='logo'>
      Rahul's Wiki
    </div>
    <nav>
      {% if user==None %}
        <pre><a href='/'>Home</a> | <a href='/wiki'>Wiki</a> | <a href='/signup'>Signup</a>      <a href='/login' style='color:blue'>Login</a></pre>
      {% else %}
        <pre><a href='/'>Home</a> | <a href='/wiki'>Wiki</a> | <a href='/signup'>Signup</a>      <a href='/logout' style='color:blue'>{{user}} (logout)</a></pre>
      {% endif %}
    </nav>
    {% block header %}
    {% endblock %}
  </body>
</html>
